html {
	overflow-y: scroll;
}

h1 {
	text-align: center;
	font-family: 'Boogaloo', cursive, Verdana, Arial, Helvetica, sans-serif;
	font-size: 2.2em;
	color: #FFFFFF;
	background-color: #20BDF1;
	margin: 0 0 0 0;
}

h1 span {
	font-size: 2em;
	color: #FFFFFF;
}

h2 {
	text-align: center;
	color: #FA4B2A;
}

body {
	font-family: 'Source Sans Pro', Verdana, Arial, Helvetica, sans-serif;
	background: #F4FFF4;
	margin: 0 0 0 0;
}

::-webkit-input-placeholder {
	font-size: .8em;
	position: relative;
	left: .5em;
	top: .1em;
}

::-moz-placeholder {  /* Firefox 19+ */
	font-size: .8em;
	position: relative;
	left: .5em;
	top: .1em;
}

:-ms-input-placeholder {  
	font-size: .8em;
	position: relative;
	left: .5em;
	top: .1em;
}

.left {
	float: left;
	width: 60%;
	border-style: solid;
	border-width: .3em;
	border-color: #FA4B2A;
	margin: 4em 0 0 2em;
}

.right {
	float: right;
	width: 32%;
	border-style: solid;
	border-width: .3em;
	border-color: #0074CB;
	margin: 16em 2em 0 0;
}

.wrapper {
	width: auto;
}

table {
	font-size: 1.2em;
	margin-left: auto;
	margin-right: auto;
}

.left table {
	height: 40%;
}

.right table {
	height: 20%;
}

#search {
	width: 20em;
	font-size: 1em;
	margin-right: .5em;
}

#advsubmit {
	clear: both;
	width: 6.5em;
	height: 2.5em;
	background: #531DFF;
	text-align: center;
	line-height: 2em;
	color: #FFFFFF;
	font-size: .8em;
	font-weight: bold;
}

#sortBy {
	width: 7em;
	font-size: 1em;
	margin-right: .5em;
}

#submit {
	clear: both;
	width: 6.5em;
	height: 2.5em;
	background: #531DFF;
	text-align: center;
	line-height: 2em;
	color: #FFFFFF;
	font-size: .8em;
	font-weight: bold;
}


/* ------------------------------
#NAV adapted from woork.blogspot.com
------------------------------ */

#nav{
	width: auto;
	height: 36px;
	background: #531DFF left top repeat-x;
}

#nav ul{
	margin: 0 0 0 0;
}

#nav ul li{
	float: left;
	display: block;
	line-height: 36px;
}

#nav ul li a{
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	display: block;
}

#nav ul li a span{
	padding: 0 20px 0 0;
	height: 36px;
	line-height: 36px;
	display: block;
	margin-left: 20px;
}

#nav ul li a:hover{
	background: #2F09A6 left top no-repeat;
	height: 36px;
	line-height: 36px;
}

/*
----------------------
adapted from: http://www.freshdesignweb.com/
----------------------
CSS RESET
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License:  none (public domain)
 */

/* Main CSS */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

#slick-login {
	width: 220px;
	height: 155px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -110px;
	margin-top: -95px;
}

#slick-login label {
	display: none;
}

.placeholder {
    color: #444;
}

#slick-login input[type="text"],#slick-login input[type="password"] {
	width: 100%;
	height: 40px;
	positon: relative;
	margin-top: 7px;
	font-size: 16px;
	color: #444;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .49);

	padding-left: 20px;
	
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;

	-webkit-box-shadow: inset 0px 2px 0px #d9d9d9;
	box-shadow: inset 0px 2px 0px #d9d9d9;
}

#slick-login input[type="text"]:focus,#slick-login input[type="password"]:focus {
	-webkit-box-shadow: inset 0px 2px 0px #a7a7a7;
	box-shadow: inset 0px 2px 0px #a7a7a7;
}

#slick-login input:first-child {
	margin-top: 0px;
}

#slick-login input[type="submit"] {
	width: 100%;
	height: 50px;
	margin-top: 7px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px -1px 0px #5b6ddc;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .49);

	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;

	background-color: #5466da;
	background-image: -webkit-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
	background-image: -moz-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
	background-image: -o-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
	background-image: -ms-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
	background-image: linear-gradient(bottom, #5466da 0%, #768ee4 100%);
	
	-webkit-box-shadow: inset 0px 1px 0px #9ab1ec;
	box-shadow: inset 0px 1px 0px #9ab1ec;
	
	cursor: pointer;

	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

#slick-login input[type="submit"]:hover{
	background-color: #5f73e9;
	background-image: -webkit-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
	background-image: -moz-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
	background-image: -o-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
	background-image: -ms-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
	background-image: linear-gradient(bottom, #5f73e9 0%, #859bef 100%);

	-webkit-box-shadow: inset 0px 1px 0px #aab9f4;
	box-shadow: inset 0px 1px 0px #aab9f4;
	margin-top: 10px;
}

#slick-login input[type="submit"]:active{
	background-color: #7588e1;
	background-image: -webkit-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
	background-image: -moz-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
	background-image: -o-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
	background-image: -ms-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
	background-image: linear-gradient(bottom, #7588e1 0%, #7184df 100%);

	-webkit-box-shadow: inset 0px 1px 0px #93a9e9;
	box-shadow: inset 0px 1px 0px #93a9e9;
}

#main{
	left: -15px;
	padding-top: 100px;
	font-family: 'Gentium Basic', serif;
}

#albumCover{
	margin: 5px;
	padding: 5px;
	border-radius: 0%;
	width: 210px;
	height: 210px;
	background-color: blue;
	float: left;
}

#albumCover img{
	padding: 5px;
	border-radius: 0%;
}

#basicSongInfo{
	background-color: green;
	border-radius: 0px;
	width: 45%;
	height: 200px;
	margin: 5px;
	padding: 10px;
	float: left;
}

#additionalSongInfo{
	background-color: blue;
	border-radius: 0px;
	width: 30%;
	height: 100px;
	margin: 5px;
	padding: 5px;
	float: left;
}

#songForm{
	background-color: #F0F0F0;
	padding: 10px;
	border: 2px solid black;
	margin: 5px;
}