html {
	overflow-y: scroll;
	font-size: 16px;
}

h1 {
	text-align: center;
	font-family: 'Boogaloo', cursive, Verdana, Arial, Helvetica, sans-serif;
	font-size: 2.2em;
	color: #FFFFFF;
	background-color: #20BDF1;
	margin: 0 0 0 0;
}

h1 span {
	font-size: 2em;
	color: #FFFFFF;
}

h2 {
	text-align: center;
	color: #CCC;
	margin: 1em 0 1em 0;
}

h3 {
	color: #FA4B2A;
}

body {
	font-family: 'Source Sans Pro', Verdana, Arial, Helvetica, sans-serif;
	background: #F4FFF4;
	margin: 0 0 0 0;
}

.qsearch table {
	margin-left: auto;
	margin-right: auto;
}

.wrapperleft {
	float: left;
	width: 68%;
	margin: 0;
	min-width: 700px;
}

.qsearch {
	border-bottom: solid 2px #b7ddf2;
	padding: 0 0 1.5em 0;
	margin: 0 1% 0 1%;
}

.stable; {
	float: left;
}

.wrapperright {
	position: fixed;
	right: 0;
	height: 80%;
	width: 32%;
	border-left: solid 2px #b7ddf2;
	margin: 1% 0 1% 0;
	min-width: 400px;
}

.adv1 {
	float: left;
	width: 50%;
}

.adv1 table {
	margin-left: auto;
	margin-right: auto;
}

.adv2 {
	float: left;
	width: 50%;
	border-left: solid 1px #b7ddf2;
}

.adv2 table {
	margin-left: auto;
	margin-right: auto;
}

#searchTable {
	font-size: 14px;
	border-collapse: collapse;
}

.stable table {
	margin: 1em auto 1em auto;
}

#searchTable tr th{
    background-color: #531DFF;
    color: #FFFFFF;
}

#searchTable td {
	border: solid 1px #BBB;
	padding: 2px;
}

#searchTable th {
	border: solid 1px #BBB;
	padding: 2px;
}

a{
    text-decoration: none;
    color: #531DFF;
    font-weight: bold;
}

a:hover {
    color: #FFFFFF;
}

/*
#searchtable .songData{
    background-color: #E3C9FF;
}*/

#search {
	width: 36em;
	height: 2.5em;
	font-size: 16px;
	font-weight: bold;
	padding-left: .5em;
}

.advform {
	width: 13em;
	height: 2.0em;
	font-size: 14px;
	font-weight: bold;
	padding-left: .30em;
}

.submit {
	clear: both;
	width: 7.0em;
	height: 3.0em;
	background: #531DFF;
	border-color: #531DFF;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
}

::-webkit-input-placeholder {
   color: #CCC;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #CCC; 
}

:-ms-input-placeholder {  
   color: #CCC;
}

/* ------------------------------
#NAV adapted from woork.blogspot.com
------------------------------ */

#nav{
	width: auto;
	height: 36px;
	background: #531DFF left top repeat-x;
	color: #C0C0C0;
}

#nav ul{
	margin: 0 0 0 0;
}

#nav ul li{
	float: left;
	display: block;
	line-height: 36px;
}

#nav ul li a{
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	display: block;
}

#nav ul li a span{
	padding: 0 20px 0 0;
	height: 36px;
	line-height: 36px;
	display: block;
	margin-left: 20px;
}

#nav ul li a:hover{
	background: #2F09A6 left top no-repeat;
	height: 36px;
	line-height: 36px;
}

/*
----------------------
adapted from: http://www.freshdesignweb.com/
----------------------
CSS RESET
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License:  none (public domain)
 */

/* Main CSS */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

#slick-login {
	width: 220px;
	height: 155px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -110px;
	margin-top: -95px;
}

#slick-login label {
	display: none;
}

#slick-login input[type="text"],#slick-login input[type="password"] {
	width: 100%;
	height: 40px;
	positon: relative;
	margin-top: 7px;
	font-size: 16px;
	color: #444;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .49);

	padding-left: 20px;
	
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;

	-webkit-box-shadow: inset 0px 2px 0px #d9d9d9;
	box-shadow: inset 0px 2px 0px #d9d9d9;
}

#slick-login input[type="text"]:focus,#slick-login input[type="password"]:focus {
	-webkit-box-shadow: inset 0px 2px 0px #a7a7a7;
	box-shadow: inset 0px 2px 0px #a7a7a7;
}

#slick-login input:first-child {
	margin-top: 0px;
}

#slick-login input[type="submit"] {
	width: 100%;
	height: 50px;
	margin-top: 7px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px -1px 0px #5b6ddc;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .49);

	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;

	background-color: #5466da;
	background-image: -webkit-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
	background-image: -moz-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
	background-image: -o-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
	background-image: -ms-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
	background-image: linear-gradient(bottom, #5466da 0%, #768ee4 100%);
	
	-webkit-box-shadow: inset 0px 1px 0px #9ab1ec;
	box-shadow: inset 0px 1px 0px #9ab1ec;
	
	cursor: pointer;

	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

#slick-login input[type="submit"]:hover{
	background-color: #5f73e9;
	background-image: -webkit-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
	background-image: -moz-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
	background-image: -o-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
	background-image: -ms-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
	background-image: linear-gradient(bottom, #5f73e9 0%, #859bef 100%);

	-webkit-box-shadow: inset 0px 1px 0px #aab9f4;
	box-shadow: inset 0px 1px 0px #aab9f4;
	margin-top: 10px;
}

#slick-login input[type="submit"]:active{
	background-color: #7588e1;
	background-image: -webkit-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
	background-image: -moz-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
	background-image: -o-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
	background-image: -ms-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
	background-image: linear-gradient(bottom, #7588e1 0%, #7184df 100%);

	-webkit-box-shadow: inset 0px 1px 0px #93a9e9;
	box-shadow: inset 0px 1px 0px #93a9e9;
}

#main{
	left: -15px;
	padding-top: 100px;
	font-family: 'Gentium Basic', serif;
}

#albumCover{
	margin: 5px;
	padding: 5px;
	border-radius: 0%;
	width: 210px;
	height: 210px;
	background-color: blue;
	float: left;
}

#albumCover img{
	padding: 5px;
	border-radius: 0%;
}

#basicSongInfo{
	background-color: green;
	border-radius: 0px;
	width: 45%;
	height: 200px;
	margin: 5px;
	padding: 10px;
	float: left;
}

#additionalSongInfo{
	background-color: blue;
	border-radius: 0px;
	width: 30%;
	height: 100px;
	margin: 5px;
	padding: 5px;
	float: left;
}

.admin{
	float: left;
	width: 550px;
	background-color: #F0F0F0;
	padding-left: 20px;
	border: solid 2px #CCC;
	margin: 0 0 1% 1%;
}

.adminColumn{
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    width: 550px;

}

#adminBoxes{
    float: left;
    margin: 0px auto;
    text-align: center;
    width: 100%;
}