h1 {
	text-align: center;
	font-family: 'Boogaloo', cursive, Verdana, Arial, Helvetica, sans-serif;
	font-size: 2.2em;
	color: #FFFFFF;
	margin: 0 0 0 0;
	background-color: #20BDF1;
}

h1 span {
	font-size: 2em;
	color: #FFFFFF;
}

h2 {
	text-align: center;
	color: #FA4B2A;
}

body {
	font-family: 'Source Sans Pro', Verdana, Arial, Helvetica, sans-serif;
	background: #F4FFF4;
	margin: 0 0 0 0;
}

::-webkit-input-placeholder {
	font-size: .8em;
	position: relative;
	left: .5em;
	top: .1em;
}

::-moz-placeholder {  /* Firefox 19+ */
	font-size: .8em;
	position: relative;
	left: .5em;
	top: .1em;
}

:-ms-input-placeholder {  
	font-size: .8em;
	position: relative;
	left: .5em;
	top: .1em;
}

.left {
	float: left;
	width: 60%;
	border-style: solid;
	border-width: .3em;
	border-color: #FA4B2A;
	margin: 4em 0 0 2em;
}

.right {
	float: right;
	width: 32%;
	border-style: solid;
	border-width: .3em;
	border-color: #0074CB;
	margin: 16em 2em 0 0;
}

.wrapper {
	width: auto;
}

table {
	font-size: 1.2em;
	margin-left: auto;
	margin-right: auto;
}

.left table {
	height: 40%;
}

.right table {
	height: 20%;
}

#search {
	width: 20em;
	font-size: 1em;
	margin-right: .5em;
}

#advsubmit {
	clear: both;
	width: 6.5em;
	height: 2.5em;
	background: #531DFF;
	text-align: center;
	line-height: 2em;
	color: #FFFFFF;
	font-size: .8em;
	font-weight: bold;
}

#sortBy {
	width: 7em;
	font-size: 1em;
	margin-right: .5em;
}

#submit {
	clear: both;
	width: 6.5em;
	height: 2.5em;
	background: #531DFF;
	text-align: center;
	line-height: 2em;
	color: #FFFFFF;
	font-size: .8em;
	font-weight: bold;
}


/* ------------------------------
#NAV adapted from woork.blogspot.com
------------------------------ */

#nav{
	width: auto;
	height: 36px;
	background: #531DFF left top repeat-x;
}

#nav ul{
	margin: 0 0 0 0;
}

#nav ul li{
	float: left;
	display: block;
	line-height: 36px;
}

#nav ul li a{
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	display: block;
}

#nav ul li a span{
	padding: 0 20px 0 0;
	height: 36px;
	line-height: 36px;
	display: block;
	margin-left: 20px;
}

#nav ul li a:hover{
	background: #2F09A6 left top no-repeat;
	height: 36px;
	line-height: 36px;
}

#main{
	left: -15px;
	padding-top: 100px;
	font-family: 'Gentium Basic', serif;
}

#albumCover{
	margin: 5px;
	padding: 5px;
	border-radius: 0%;
	width: 210px;
	height: 210px;
	background-color: blue;
	float: left;
}

#albumCover img{
	padding: 5px;
	border-radius: 0%;
}

#basicSongInfo{
	background-color: green;
	border-radius: 0px;
	width: 45%;
	height: 200px;
	margin: 5px;
	padding: 10px;
	float: left;
}

#additionalSongInfo{
	background-color: blue;
	border-radius: 0px;
	width: 30%;
	height: 100px;
	margin: 5px;
	padding: 5px;
	float: left;
}

#login{
	font-family: 'Gentium Basic', serif;
	background-color: red;
	width: 220px;
	height: 155px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -110px;
	margin-top: -95px;

	-webkit-animation: login 1s ease-in-out;
	-moz-animation: login 1s ease-in-out;
	-ms-animation: login 1s ease-in-out;
	-o-animation: login 1s ease-in-out;
	animation: login 1s ease-in-out;
}

#songForm{
	background-color: #F0F0F0;
	padding: 10px;
	border: 2px solid black;
	margin: 5px;
}
